.create-company-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background: var(--sidebar-background);
  border-radius: 12px;
  box-shadow: var(--card-shadow);
}

.create-form-group {
  margin-bottom: 1.5rem;
}

.create-form-group input,
.create-form-group textarea {
  flex: 1;
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  background-color: var(--input-background);
  color: var(--input-color);
}

.create-form-group input:focus,
.create-form-group textarea:focus {
  background-color: var(--input-background);
  color: var(--input-color);
}

.create-form-group input::placeholder {
  color: var(--input-color);
}

.create-form-group p {
  margin-bottom: 1rem;
}

.preview-gallery img {
  margin-right: 0.5rem;
  border-radius: 6px;
}

.submit-company-btn {
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  width: 100%;
  border: none;
  background-color: var(--button-background);
  color: var(--button-color);
  border-radius: 8px;
}

.submit-company-btn:hover {
  background-color: var(--button-hover);
}

.hidden-upload-input {
  display: none;
}

.custom-upload-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-weight: 500;
  background-color: var(--button-background);
  color: var(--button-color);
  border-radius: 6px;
  text-align: center;
  transition: background 0.2s;
  margin-bottom: 0.5rem;
}

.custom-upload-button:hover {
  background-color: var(--button-hover, #444);
}

.char-counter {
  font-size: 0.8rem;
  color: #aaa;
  float: right;
  margin-left: 1rem;
}

.upload-error {
  color: var(--error-color);
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.create-back-button {
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  border: none;
  background-color: red;
  color: var(--button-color);
  border-radius: 8px;
  text-align: center;
}

.create-back-button:hover {
  background-color: #f87171;
}

.preview-actions {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem;
}
