.tooltip {
  position: absolute;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 13px;
  max-width: 250px;
  z-index: 99999;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  transform: translateY(-120%);
  white-space: pre-line;
}
